@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

* {
    box-sizing: border-box;
}

html * {
    font-family: "Inter", sans-serif;
}

h1,
h2,
h3 {
    margin: 0;
}

.workwithus {
    display: block;
    margin: 0 auto;
    margin-top: 20%;
    width: 80vw;
    max-width: 300px;
    height: 60px;
    background: #bfcc2b;
    border-radius: 30px;
    border-color: #bfcc2b;
    border-width: 0;
    color: black;
    z-index: 99;
}

.workwithus-bar {
    display: block;
    height: 54px;
    width: 219px;
    font-size: 14px;
    background: #bfcc2b;
    border-radius: 30px;
    border-color: #bfcc2b;
    border-width: 0;
    color: black;
}

.project-contact {
    position: relative;
    display: block;
    margin-top: 30px;
    width: 200px;
    max-width: 300px;
    height: 60px;
    background: #bfcc2b;
    border-radius: 30px;
    border-color: #bfcc2b;
    border-width: 0;
    color: black;
    z-index: 99;
}

.navbar-button {
    color: #bfcc2b;
    font-size: 14px;
    display: block;
    margin: 0;
}

.contactus {
    display: block;
    margin: 0 auto;
    margin-top: 20px;
    width: 80vw;
    max-width: 300px;
    height: 60px;
    background-color: rgba(255, 255, 255, 0);
    border-radius: 30px;
    border-color: #02aab0;
    border-width: 2px;
    border-style: solid;
    color: #02aab0;
}

.landing-page {
    position: relative;
    height: 100vh;
    text-align: center;
    background-color: #080b1a;
    color: rgb(255, 255, 255);
    min-width: 300px;
    overflow: hidden;
    display: flex;
    align-items: center;
}

.logo-bg {
    position: absolute;
    right: 0;
    bottom: -20px;
    opacity: 0.15;
    width: 40%;
    min-width: 300px;
    z-index: 1;
}

.logo-img {
    width: 100%;
}

.landing-page-content {
    max-width: 600px;
    margin: 0 auto;
    z-index: 99;
}

.number {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 25px;
    border: 3px solid #7b61ff;
    border-radius: 30px;
    height: 150px;
    color: #7b61ff;
    margin-right: 20px;
    margin-bottom: 40px;
}

.complete-idea-img {
    height: 100%;
    width: auto;
}

.complete-idea-number {
    padding-left: 20px;
    padding-right: 10px;
    padding-top: 41px;
    width: 158px;
    min-width: 158px;
    height: 180px;
    margin: 9px;
    border: 3px solid #7b61ff;
    border-radius: 30px;
    color: #7b61ff;
    font-weight: 700;
}

.result {
    padding: 0 5%;
    padding-top: 100px;
}

.monitor img {
    width: 100vw;
}

.monitor-lg img {
    width: 100%;
}

.all-services-btn {
    display: block;
    margin: 0 auto;
    width: 80vw;
    max-width: 300px;
    height: 60px;
    background: #bfcc2b;
    border-radius: 30px;
    border-color: #bfcc2b;
    border-width: 0;
    color: black;
}

.how-we-help {
    background: #7b61ff;
    color: #fff;
    padding: 0 5%;
    padding-top: 60px;
    padding-bottom: 60px;
}

.our-work {
    padding: 0 5%;
    padding-top: 70px;
    background-color: #f1f1f1;
    padding-bottom: 40px;
}

a {
    text-decoration: none;
}

button.nav-filter {
    height: 50px;
    border: 2px solid #7b61ff;
    border-radius: 25px;
    background-color: #fff;
    font-size: small;
    font-weight: 600;
}

button.active {
    background-color: #7b61ff;
    color: #fff;
}

.project-page {
    min-height: 50vh;
    margin-bottom: 20px;
}

.violet {
    background-color: #7b61ff;
}

.yellow {
    background-color: #f4e64d;
}

.mint {
    background-color: #00cdac;
}

.lemon {
    background-color: #bfcc2b;
}

.contact {
    background-color: #7b61ff;
}

button.contact {
    display: block;
    margin: 0 auto;
    width: 100%;
    height: 60px;
    background: #00cdac;
    border-radius: 30px;
    border-color: #bfcc2b;
    border-width: 0;
    color: black;
}

.how-it-works {
    background-color: #080b1a;
}

.slick-dots li button:before {
    color: #f1f1f1;
}
.slick-dots li.slick-active button:before {
    opacity: 0.75;
    color: #f1f1f1;
}

.worked-with {
    background-color: #f1f1f1;
}

.enquire-box {
    height: 51px;
}

.enquire-box::placeholder {
    font-weight: 200;
    color: #7b61ff;
    opacity: 0.8;
}

.form-border {
    padding: 70px;
    width: 100%;
    background-color: #7b61ff;
    display: flex;
    justify-content: center;
}

.contact-form {
    width: 80%;
}

.nav-link {
    font-weight: 700;
}
